* {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px;
    font-size: 2em;
}

.content-flex{
    display: flex; /*Define que el contenedor sea flexible*/
    /*width: 400px;*/
    height: 300px;
    border: 3px solid rgb(173, 255, 47);
    margin: 0 auto;
    background: rgb(0, 0, 0);
    flex-direction: column;
}

.contenido{
    width: 150px;
    height: 80px;
}

.contenido:nth-child(1){
    background: rgba(255, 100, 255, 60%);
    order: 1;
    font-size: 2em
}

.contenido:nth-child(2){
    background: rgba(0, 255, 255, 60%);
    order: 2;
    font-size: 2em
}

.contenido:nth-child(3){
    background: rgba(255, 255, 100, 60%);
    order: 3;
    font-size: 2em
}

.contenido:nth-child(4){
    background: rgba(255, 255, 255, 100%);
    order: 4;
    font-size: 2em
}

.contenido:nth-child(5){
    background: rgba(255, 255, 255, 100%);
    order: 5;
    font-size: 2em
}

@media screen and (min-width: 500px) {
    .content-flex{
        flex-direction: column;
    }

    .contenido:nth-child(1){
        background: rgba(255, 100, 255, 60%);
        order: 1;
    }
    
    .contenido:nth-child(2){
        background: rgba(0, 255, 255, 60%);
        order: 2;
    }
    
    .contenido:nth-child(3){
        background: rgba(255, 255, 100, 60%);
        order: 3;
    }
    
    .contenido:nth-child(4){
        background: rgba(155, 0, 255, 0%);
        order: 4;
    }
    
    .contenido:nth-child(5){
        background: rgba(255, 192, 203, 0%);
        order: 5;
    }
    

@media screen and (min-width: 700px) {
    .content-flex{
        flex-direction: row;
    }

    .contenido:nth-child(1){
        background: rgba(255, 100, 255, 0%);
        order: 1;
    }
    
    .contenido:nth-child(2){
        background: rgba(0, 255, 255, 0%);
        order: 2;
    }
    
    .contenido:nth-child(3){
        background: rgba(255, 255, 100, 60%);
        order: 3;
    }
    
    .contenido:nth-child(4){
        background: rgba(155, 200, 255, 60%);
        order: 4;
    }
    
    .contenido:nth-child(5){
        background: rgba(255, 192, 203, 00%);
        order: 5;
    }
    
}

/* Lo anterior es para una resolución menor o igual a 500px (MOVILE FIRST) */

/* Utilizando Media query para  válidar la resolución a 800px */

@media screen and (min-width: 800px) {
    .content-flex{
        flex-direction: row;
    }

    .contenido:nth-child(1){
        background: rgba(255, 100, 255, 0%);
        order: 1;
    }
    
    .contenido:nth-child(2){
        background: rgba(0, 255, 255, 0%);
        order: 2;
    }
    
    .contenido:nth-child(3){
        background: rgba(255, 255, 100, 60%);
        order: 3;
    }
    
    .contenido:nth-child(4){
        background: rgba(155, 200, 255, 60%);
        order: 4;
    }
    
    .contenido:nth-child(5){
        background: rgba(255, 192, 203, 60%);
        order: 5;
    }
}

@media screen and (min-width: 900px) {
    .content-flex{
        flex-direction: row;
    }

    .contenido:nth-child(1){
        background: rgba(255, 100, 255, 0%);
        order: 1;
    }
    
    .contenido:nth-child(2){
        background: rgba(0, 255, 255, 0%);
        order: 2;
    }
    
    .contenido:nth-child(3){
        background: rgba(55, 255, 100, 60%);
        order: 3;
    }
    
    .contenido:nth-child(4){
        background: rgba(1, 200, 255, 60%);
        order: 4;
    }
    
    .contenido:nth-child(5){
        background: rgba(255, 55, 203, 60%);
        order: 5;
    }
}

@media screen and (min-width: 1000px) {
    .content-flex{
        flex-direction: row;
    }

    .contenido:nth-child(1){
        background: rgba(255, 100, 255, 0%);
        order: 1;
    }
    
    .contenido:nth-child(2){
        background: rgba(0, 255, 255, 0%);
        order: 2;
    }
    
    .contenido:nth-child(3){
        background: rgba(255, 255, 100, 60%);
        order: 3;
    }
    
    .contenido:nth-child(4){
        background: rgba(155, 200, 255, 60%);
        order: 4;
    }
    
    .contenido:nth-child(5){
        background: rgba(255, 192, 203, 00%);
        order: 5;
    }
    
}

@media screen and (min-width: 1200px) {
    .content-flex{
        flex-direction: row;
    }

    .contenido:nth-child(1){
        background: rgba(255, 100, 255, 60%);
        order: 1;
    }
    
    .contenido:nth-child(2){
        background: rgba(0, 255, 255, 60%);
        order: 2;
    }
    
    .contenido:nth-child(3){
        background: rgba(255, 255, 100, 60%);
        order: 3;
    }
    
    .contenido:nth-child(4){
        background: rgba(155, 200, 255, 60%);
        order: 4;
    }
    
    .contenido:nth-child(5){
        background: rgba(255, 192, 203, 60%);
        order: 5;
    }
}
}